html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-preview { 
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

.close { 
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0px 1px 0px #FFFFFF;
    position: absolute;
    right: 10px;
    top: 5px;
}

.file-preview-frame { 
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0px #A2958A;
    display: table;
    float: left;
    height: 160px;
    margin: 8px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
}

.file-preview-frame.active {
    background-color: #c9cafe;
}

.file-preview-frame:hover {
    background-color: #ddd;
}

.sortable li {
    border: 0px none transparent;
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

.sortable li:focus, .sortable li:hover {
    background-color: white;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 150px;
}

.message {
    border: 1px #E1E8ED solid;
    border-radius: 6px;
    margin: 6px 0px;
    padding: 7px;
    position: relative;
    min-height: 70px;
}

.message:hover {
    background: #f9f9f9;
}

.message .user-box {
    width: 60px;
}

.message ._body {
    padding: 0px 10px;
    position: relative;
}

.message .avatar {
    border: 1px #E1E8ED solid;
    border-radius: 6px;
    background: #eed3d7;
    width: 48px;
    height: 48px;
    float: left;
}

.message .head {
    position: absolute;
}

.message .autor {
    float: left;
    font-weight: bold;
    text-decoration: underline;
}

.message .date {
    float: left;
    margin-left: 10px;
    color: #bbb;
    font-size: 12px;  
    cursor: pointer;
    text-decoration: underline dashed;
}

.message .source {
    float: left;
    color: #999;
    margin-left: 10px;
    font-size: 12px;
    
}

.message .text {
    float: left;
    margin-left: 0px;
    margin-top: 18px;
    padding: 0px 0px;
}

.message .buttons {
    position: absolute;
    right: 7px;
    top: 7px;
    display: block;
}

.message .buttons a {
    margin-right: 5px;
}